
/* style.css code below here */

header {
    font-family: Arial;
    color: black;
    padding: 25px;
    height: 50px;
}

/* dark background for the header */
.dark-background {
    background-color: salmon;
    color: black;
}

/* light background for the welcoming section */

.light-background {
    background-color: beige;
    color: black;
}
 
 /* Paragraphs to be all the same */

p {
    color: black;
    font-family: arial;
    font-size: 14px;
    text-align: center;
}


footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
    text-align: Center;

}

/* h2 headings to stand out and be be differencitated */
h2 {
    font-size: 26px;
    font-family: Arial;
}

ul {
    text-align: center;
}
div {
    text-align: center;
}

.text-centered {
    text-align: center;
}

.wrapper {
    width: 900px;
    margin: auto;

}

/* Any button which the users pointer hovers over */

button: hover { 
    color: purple; 
}

